<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Import_XML_NFS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Import_XML_NFS.Properties.Settings>
            <setting name="ConexaoBD" serializeAs="String">
                <value>189.16.249.123\sqlexpress,44552</value>
            </setting>
            <setting name="Nome_Base" serializeAs="String">
                <value>Arquivos_Fiscais</value>
            </setting>
        </Import_XML_NFS.Properties.Settings>
    </applicationSettings>
</configuration>